@import "./utilities/variables/colors.scss";
@import "./utilities/variables/fonts.scss";
@import "./utilities/variables/sizes.scss";

@import "./components/pages/login.scss";
@import "./components/pages/register.scss";
@import "./components/pages/recipes-input.scss";
@import "./components/pages/recipes-found.scss";

@import "./components/common/navbar.scss";


// $alfa-slab
// $gentium-book-basic
// $shadows-into-light
// $leckerli
// $londrina-outline
// $sonsie

* {
  box-sizing: border-box;
  background-color: $background-color;
  html {
  }
  body {
    // background-color: $cooler-pale-yellow;
    // height: 100vh;
  }
  h1 {
    font-family: $londrina-outline;
    // font-family: $leckerli;
  }
  p, a, button, input, select, li {
    font-family: $shadows-into-light;
    font-weight: bold;
  }
  .container {
    max-width: 95%;
  }
}

// id on the highest level eg section
// everything comes under this
// media queries stay on component or page
// @import "file path"
// underscore on file name but not on import
// @media screen and (max-width: $tablet - 1px) {
// what you want in here
// }
