$mambo-yellow: #F7EF6A;
$mambo-green: #93C178;
$mambo-blue: #465C8B;
$mambo-grey: #DFDCE3;
$mambo-grey-opacity7: rgba(223,220,227, 0.7);

$cooler-pastel-blue: #809BCE;
$cooler-sky-blue: #95B8D1;
$cooler-powder-blue: #B8E0D2;
$cooler-dull-green: #BBCCC6;
$cooler-dull-green-opacity7: rgba(187,204,198, 0.7);
$cooler-pale-yellow: #F2DAA9;
