@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic|Leckerli+One|Londrina+Outline|Shadows+Into+Light+Two|Sonsie+One');

$alfa-slab: 'Alfa Slab One', cursive;
$gentium-book-basic: 'Gentium Book Basic', serif;
$shadows-into-light: 'Shadows Into Light Two', cursive;
$leckerli: 'Leckerli One', cursive;
$londrina-outline: 'Londrina Outline', cursive;
$sonsie: 'Sonsie One', cursive;
