#form {
  // border: solid $mambo-green 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mambo-grey-opacity7;
  height: 300px;
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  // padding: 10px;
  input {
    // outline: none !important;
    width: 300px;
    background-color: rgba(249,249,249, 0.9);
    &:valid {
      background-color: white;
    }
  }
  a {
    color: $mambo-blue;
    display: block;
    float: right;
  }
  h1 {
    color: $mambo-grey;
  }
}

// repeated code - should be a variable???????????????
// display: flex;
// justify-content: center;
// align-items: center;
// background-color: $mambo-grey-opacity7;
