#navbar {
  background-color: $cooler-pastel-blue;
  a {
    color: $cooler-pale-yellow;
    &:hover {
      background-color: $cooler-pastel-blue;
      color: $cooler-pale-yellow;
    }
  }
  .navbar-burger {
    color: $cooler-pale-yellow;
    &:hover {
      background-color: $cooler-pastel-blue;
    }
  }
  div.navbar-menu.is-active {
    background-color: $cooler-pastel-blue;
  }
}
