@import "./components/recipes-input/image.scss";
@import "./components/recipes-input/possibilities.scss";
@import "./components/common/button.scss";

#recipes-input {

  height: 100vh;
  background-image: url(../../assets/images/food-hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .trouble-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .go-button {
    margin-top: 10px;
  }
  label.checkbox {
    font-family: $shadows-into-light;
    color: $mambo-blue;
    input {
      margin-left: 10px;
    }
  }
  .grey-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mambo-grey-opacity7;
    height: 75%;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: 10vh;
  }

  @media screen and (min-width:$screen-md-min) {
    .center-container {
    display: flex;
    justify-content: center;
    background-color: $mambo-grey-opacity7;
  }
  .trouble-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
    .grey-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mambo-grey-opacity7;
      height: 70%;
      width: 80%;
    }
  }

  // #c2cbd5
}
