@import "./components/common/form.scss";
@import "./components/common/button.scss";

#register {
  height: 100vh;
  background-image: url(../../assets/images/food-hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  p {
    color: $mambo-blue;
  }
  h1 {
    // color: $mambo-grey;
    color: $mambo-blue;
  }
}
